.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  z-index: 100;
  box-shadow: 1px 1px 8px -1px rgb(235, 230, 230);
}

.inner_nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-section);
  overflow-y: auto;
}

.toggle {
  outline: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  svg {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: -10px;
    color: var(--color-text);
  }
}
